In [2]:
import pandas as pd
import numpy as np
#1. Прочитайте CSV файл (використовуйте метод read_csv):
data = pd.read_csv('bestsellers with categories.csv')
data

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [3]:
#2.	Виведіть перші 10 рядків (метод head)
print(data.head(10))

                                                Name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...
5      A Dance with Dragons (A Song of Ice and Fire)
6  A Game of Thrones / A Clash of Kings / A Storm...
7                     A Gentleman in Moscow: A Novel
8      A Higher Loyalty: Truth, Lies, and Leadership
9                          A Man Called Ove: A Novel

                     Author  User Rating  Reviews  Price  Year        Genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction
5       George R. R. Martin          4.4    12643     11  2011      Fiction
6       George R. R. Martin          4.7    19735     30  2014      Fiction
7               Amor Towles          4.7    19699     15  2017      Fiction
8               James Comey          4.7     5983      3  2018  Non Fiction
9           Fredrik Backman          4.6    23848      8  2016      Fiction

In [4]:
#3. Виведіть розміри датасету (метод shape)
#Питання: Про скільки книг зберігає дані датасет? 550
data.shape

(550, 7)

In [5]:
#4.Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення.
data1 = data.rename(columns = {'Name':  'name' , 'Author':'author' , 'User Rating':'user_rating', 'Reviews': 'reviews', 'Price':'price' ,'Year':'year' ,'Genre':'genre'})
print(data1)

                                                  name  \
0                        10-Day Green Smoothie Cleanse
1                                    11/22/63: A Novel
2              12 Rules for Life: An Antidote to Chaos
3                               1984 (Signet Classics)
4    5,000 Awesome Facts (About Everything!) (Natio...
..                                                 ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)
546  You Are a Badass: How to Stop Doubting Your Gr...
547  You Are a Badass: How to Stop Doubting Your Gr...
548  You Are a Badass: How to Stop Doubting Your Gr...
549  You Are a Badass: How to Stop Doubting Your Gr...

                       author  user_rating  reviews  price  year        genre
0                    JJ Smith          4.7    17350      8  2016  Non Fiction
1                Stephen King          4.6     2052     22  2011      Fiction
2          Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3               George Orwell          4.7    21424      6  2017      Fiction
4    National Geographic Kids          4.8     7665     12  2019  Non Fiction
..                        ...          ...      ...    ...   ...          ...
545               Jeff Kinney          4.9     9413      8  2019      Fiction
546               Jen Sincero          4.7    14331      8  2016  Non Fiction
547               Jen Sincero          4.7    14331      8  2017  Non Fiction
548               Jen Sincero          4.7    14331      8  2018  Non Fiction
549               Jen Sincero          4.7    14331      8  2019  Non Fiction

[550 rows x 7 columns]

In [7]:
#5.	Вивести кількість пропусків у кожному стовпчику.
#Питання : Чи є в якихось змінних пропуски?  ні
missing_data = data1.isna().sum()
print(missing_data)

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64

In [8]:
#6.За допомогою методу unique  перевірте. Які є унікальні жанри в стовпці genre 
#Питання : Які є унікальні жанри? Non Fiction, Fiction
data1.genre.unique( )

array(['Non Fiction', 'Fiction'], dtype=object)

In [13]:
#7.Визначте максимальну, мінімальну, медіанну ціну за допомогою методів  max, min, mean, median

max_price = data1['price'].max()

min_price = data1['price'].min()

mean_price = data1['price'].mean()

median_price = data1['price'].median()

print(f"Максимальна ціна: {max_price}")
print(f"Мінімальна ціна: {min_price}")
print(f"Середня ціна: {mean_price}")
print(f"Медіанна ціна: {median_price}")

Максимальна ціна: 105
Мінімальна ціна: 0
Середня ціна: 13.1
Медіанна ціна: 11.0

In [17]:
#8.Виконайте наступні завдання з пошуку і сортування даних

max_rating = data1['user_rating'].max()
print(f"Рейтинг найвищий у датасеті: {max_rating}")

rating = data1.loc[data1['user_rating'] == 4.9]
print(f'Скільки книг мають такий рейтинг:',len(rating))

max_reviews = data1[data1['reviews'] == data1['reviews'].max()]
print(f"Книга яка має найбільше відгуків: {max_reviews}")

Рейтинг найвищий у датасеті: 4.9
Скільки книг мають такий рейтинг: 52
Книга яка має найбільше відгуків:                         name       author  user_rating  reviews  price  year  \
534  Where the Crawdads Sing  Delia Owens          4.8    87841     15  2019

       genre
534  Fiction

In [21]:
#Питання: З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ?
def select_columns(data_frame, column_names):
    new_frame = data_frame.loc[:, column_names]
    return new_frame
selected_columns = ['name', 'author', 'price', 'year' ]
data_new = select_columns(data1, selected_columns)
data_2010 = data_new.loc[data_new['year'] == 2010]
data_2010[data_2010['price']== data_2010['price'].max()]

,name,author,price,year
272,Publication Manual of the American Psychologic...,American Psychological Association,46,2010

In [22]:
#Питання : Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році 
data_2012 = data1.loc[data1['genre'] == 'Fiction']
len(data_2012.index)

240

In [23]:
#Питання : Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)? 
data2 = data1[data1.year.isin(range(2010, 2012))]
len(data2.loc[data2['user_rating'] == 4.9])

1

In [26]:
#9.	Вивести максимальну і  мінімальну ціну для жанру Fiction I NonFiction 
#(за допомогою методів  groupby та agg, для підрахунку мінімальних та максимальних значень використовуйте max та min).
#Використовуйте тількі потрібні вам стовпці.
dt = data1[['name', 'author', 'price', 'genre']].copy()
dt.groupby(['genre']).max()

,name,author,price
genre,,,
Fiction,Wrecking Ball (Diary of a Wimpy Kid Book 14),Wizards RPG Team,82
Non Fiction,You Are a Badass: How to Stop Doubting Your Gr...,Zhi Gang Sha,105

In [27]:

dt.groupby(['genre']).min()

                                      name            author  price
genre
Fiction                  11/22/63: A Novel  Abraham Verghese      0
Non Fiction  10-Day Green Smoothie Cleanse    Adam Gasiewski      0